# Virtual environments
venv/
venv*/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# PrankGuard data
data/owner_faces/encodings.pkl

# IDE
.vscode/
.idea/

# Env
.env

# PyInstaller / Inno Setup
*.spec
output/

data/owner_faces/*.jpg
data/owner_faces/*.png
data/owner_faces/*.jpeg
